.sidebarTop {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
  }
  .coffee{
      margin: 10px;
  }
 
 
 
  
  .sbWrap {
    padding: 20px;
  }
  
  